/* CSS for Table */

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th , td {
    border: 1px solid black;
}

/* css with classes */

.text {
    font-size: 20px;
}

.bold-text {
    font-weight: 900;
}

/* css with classes 2 */

.box {
    height: 100px;
    width: 100px;
    
    margin: 10px;
}
.green {
    background: rgb(74, 194, 38);
}
.red {
    background: red;
}

.green .normal {
    font-weight: 500;
}

.red .normal {
    font-weight: 900;
}

/* calculator */

.wrapper {
    height: 100vh;
    width: 600px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.number {
    padding: 45px;
    margin: 5px;
}
#result {
    max-width: 100%;
    margin: 5px;
    height: 50px;
    font-size: 26px;
}

/* visiting card */

.card-wrapper {
    height: 200px;
    width: 400px;
    background: #ddbdaa4f;
}

.visiting-card {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}